body
{
    height: 100%;
    margin: 0 auto;
    background: url("images/auroreb.jpg") rgb(70, 90, 101) bottom no-repeat fixed;
}
*
{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

header div>a
{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.6);
}
header a
{
    color: #555;
}
header a:hover
{
    color: #000;
}
h1
{
    font-size: 25px;
    flex: 5;
    text-align: center;
    margin : 0;
    line-height: 42px;
}
h1 ,h2 ,h3
{
    font-family: 'Mali', cursive;
}
a
{
    text-decoration: none;
    color: #333;
}
nav
{
}
ul
{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}
li
{
    display: inline;
    margin: 0 20px;
    font-size: 20px;
}
input
{
    padding-left: 10px;
}
article
{
    position: relative;
    display: flex;
    background-color: whitesmoke;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}
strong
{
    margin-left: 15px;
    font-size: 23px;
    color: #111;
}
aside
{
    position: fixed;
    width: 20%;
    right: 20px;
    top: 55px;
    height: 480px;
    margin-top: 42vh; 
    transform: translateY(-50%); 
    background-color: rgba(187, 222, 250, 0.8);
    background-color: #eceff1;
    border: 2px #111 solid;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
aside a
{
    line-height: 35px;
    overflow: hidden;
}
aside a:hover
{
    font-weight: bolder;
}
form
{
    margin-bottom: 30px;
}

.menuPrincipal
{   
    background-color: #cfd8dc;
    width: 100%;
    height: 42px;
    line-height: 42px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

#signaledCommSmallScreen, .smallBin, .smallScreenTitle
{
    display: none;
}


.fa-user/*icone connexion*/
{
    margin-right: 10px;
    flex: 1;
}
/*font weight normal for texte inside font awesome i */
.fas>span
{
    font-weight: normal;
}
/*BODY*/
.corps
{
    display: flex;
}
.corpsConnected
{
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: rgb(70, 90, 101) fixed;
}
.contenuCorps{
    width: 70%;
    margin: 3.5%;
    margin-top: 55px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
/*Preview of each article in homepage and connected homepage*/
.articleBillet{
    position: relative;
    max-height: 250px;
}
.enteteSommaire/*Title of preview*/
{
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    margin-top: 10px;

}
.enteteSommaire h2
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textArticle1000, .textArticle1220, .textArticle870, .textArticle600
{
    display: none;
    margin-left: 10px;
}
.textArticle/*texte of preview*/
{
    margin: 10px 20px;
    text-align: justify;
}
.articleBillet img {
    margin: 0;
    min-width: 300px;
    max-width: 300px;
    height: 250px;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
}

.articleBillet>div
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 210px;
    overflow: hidden;
}
.articleBillet:hover
{
    box-shadow: 0 0 10px white;
}
.backgroundArticle{
    display: none;
}

.btnReadMore
{
    background-color:   rgba(100, 100, 100, 0.2);
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    border-radius: 4px;
}
.btnReadMore a
{
    color: black;
}
.btnReadMore:hover
{
    background-color:   rgba(100, 100, 100, 0.4);
}
/*body of each article when open alone */
.billetAlone
{
    border: 2px solid lightblue;
}
.billetAlone>div
{
    width: 100%;    
}
.entete
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    background-color: #8eacbb;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
}
.footer{
    background-color: #8eacbb;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 20px;
    border-radius: 0 0 5px 5px ;
}
.contenuOfArticle
{
    padding: 10px 50px;
    text-align: justify;
    overflow: hidden;
}
/*for image integrate with TinyMCE, prevent them of being bigger than .contenuOFArticle*/
.contenuOfArticle img, .contenuOfArticle iframe
{
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
/*Retour à la liste des billets -> inside each article*/
.btnBackHome
{
    background-color: rgba(255, 255, 255, 0.6);
    width: 230px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}
.btnBackHome i
{
    margin-right: 10px;
}
.btnBackHome:hover
{
    background-color: rgba(255,255, 255, 0.8);
}
/*Each comment view*/
.commentaire {
    background-color: #f6f4e7;
    width: 90%;
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.titreComm, .bottomComm
{
    margin: 0;
    background-color: #8eacbb;
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.titreComm{

    border-bottom: 1px gray solid;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
}
.titreComm span
{
    margin-left: 15px;
    font-weight: bolder;
}
.bottomComm a
{
    float: right;
    margin-right: 10px;
}
.commentaire p
{
    margin-left: 10px;
}
.contenuCommentaire
{
    padding-left: 10px;
}
.dateCommentaire
{
    float: right;
    padding-right: 20px;
}
.bottomComm
{
    background-color: #f6f4e7;
    border-top : 2px #CCC solid;
}
.bottomComm span
{
    padding-left: 10px;
}
/*View of formulaire when writing a new comment*/
.formulaireComment
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.formulaireComment textarea, .formulaireComment p
{
    width: 90%;
}
.formulaireComment input
{
    height: 30px;
    border-radius: 5px;
}
.formulaireComment textarea
{
    height: 100px;
    border-radius: 5px;
}
/*Button "Publier ce commentaire"*/
.publishComment
{
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    border: 2px #8eacbb solid;
    align-self: flex-end;
    margin-right: 5%;
}
/*Aside settings (aside balise is define upper)*/
.asideTitre
{
    text-align: center;
}
.asideDecoration
{
    width: 100%;
    border : 1px solid #333;
}
.asideNavigation
{
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.indexAside
{
    font-size: 20px;
    margin: 0 5px;
}
.indexAside:hover
{
    font-size: 23px;
}
/*PAGE FOR CONNEXION*/
.corpConnectPage
{
display: flex;
justify-content: space-around;
}
.corpConnectPage form
{
    position: absolute;
    width: 450px;
    background-color: #8eacbb;
    border-radius: 10px;
    border: 2px #DDD solid;
    text-align: center;
    margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    padding-bottom: 30px;
}

.corpConnectPage input
{
    width: 90%;
    height: 37px;
    border-radius: 10px;
}
.corpConnectPage form>input
{
	width: 50%;
	border: 2px #26a69a solid; 
	font-size: 20px;
}
#checkbox
{
    width: auto;
    height: auto;
}
/*settings */
.settingChoice
{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    margin-bottom: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: 42;
    border-top: 2px red solid;
}
.settingChoice a
{
    margin : 15px;
}
.settingChoice a:hover
{
    color: gray;
}

/*PAGES QUAND CONNECTE*/
/*menu connection*/
.menuIn
{
    position: fixed;
    top: 42px;
    width: 100%;
    height: 42px;
    z-index: 10;
}
.menuIn nav
{
    width: 100%;
    height: 100%;
    line-height: 42px;
    background-color: rgba(255, 255, 255, 0.9);
}
#deconecter
{
    font-size: 50px;
}
/*descend corps sinon superpose avec menus*/
.insideSide
{
    margin-top: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
/*sort aricle and changing the kind of preview btns*/
.homeGestionnaire{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.homeGestionnaire span
{
    margin-left: 15px;
}
.homeGestionnaire span, .homeGestionnaire i
{
    color: gray;
}
.homeGestionnaire span:hover, .homeGestionnaire i:hover
{
    color: #222;
}
/* read more , modify or delete under each preview article*/
.gestionnaireArticle
{
    position: absolute;
    bottom: 0;
    left: 300px;
    right: 0;
    height: 40px;
    background-color: #8eacbb;
    border-radius: 0 0 5px 0; 
}
.gestionnaireArticle nav
{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.gestionnaireArticle a
{
    float: none;
    line-height: 42px;
}
.gestionnaireArticle a:hover i, .gestionnaireArticle a:hover
{
    font-weight: bolder;
    color: #111;
}
.BigBin
{
    display: inline-block;
}
.inlineView{
    display: flex;
    margin: 5px;
}
.titreInlineView{
    margin : 0 ;
    background-color: #DDD;
    padding: 0;
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inlineView h2{
    margin: 0;
    background-color: #DDD;
    text-align: center;

}
.inlineView:hover h2, .inlineView:hover
{
    background-color: #e1f5fe;
    box-shadow: 0 0 3px white;
}
.inlineView a:hover, .inlineView i:hover
{
    color: #555;
} 
.gestionnaireArticleInline
{
    flex: 3;
    display: flex;
    text-align: center;
}
.gestionnaireArticleInline nav
{
    display: inline;
    height: auto;
    width: 100%;
}


.gestionnaireArticleInline nav a
{
    font-size: 16px;
}
.gestionnaireArticleInline span
{
    font-size: 12px;
}
/*Big buton for new article*/
.nouvelArticle
{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.85);
    line-height: 100px;
    text-align: center;
}
.nouvelArticle:hover
{
    box-shadow: 0 0 10px white;
    background-color: rgba(255, 255, 255, 0.92);
}
.nouvelArticle a
{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}
.fa-plus-circle{
    margin-right: 20px;
    color: #AAA;
}
/*CREATE AND MODIFY ARTICLE*/
/*TINYFORM tinyform view where article are writing*/
.tinyForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}
.tinyForm textarea
{
    width: 100%;
    height: 400px;
}
.tinyForm input
{
    border-radius: 8px;
    margin: 10px 0;
}
.tinyFormTitre
{
    width: 90%;
    height: 50px;
    font-size: 30px;
    color: #111;
    margin : 10px;
}
.tinyFormButon
{
	border: 2px #26a69a solid;
    font-size: 20px;
    width: 30%;
}
.tinyFormImg
{
    width: 80%;
    background-color: whitesmoke;
}
/*quand on modifie un article*/
.changeThePicture
{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
}
.changeThePicture div{
    width: 100%;
}
.changeThePicture img{
    margin: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
#outputImg{
    width: 300px;
    height: 200px;
    object-fit: cover;
    background-color: lightgray;
}
/*CONTACT PAGE*/
.formP/*short text before form*/
{
    margin: 0 20px;
    padding: 0 10px;
}
.contactForm>div
{
    display: flex;
    justify-content: space-around;
}
.personalInfo, .textareaContainer
{
    width: 100%;
    margin: 5%;
}
.personalInfo{
    display: flex;
    flex-direction: column;
}
.contactForm input
{
    min-height: 30px;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0px;
}
.contactForm textarea
{
    width: 100%;
    height: 90%;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
}
.contactForm>input
{
    border-radius: 10px;
    border: 2px #26a69a solid;
    float: right;
    width: 150px;
    margin-top: 30px;
    margin-right: 30px;
}
/*BIO PAGE*/
.biographie, .contactView
{
    background-color: whitesmoke;
    margin: 20px 50px;
    margin-top: 0;
    border-radius: 10px;
    position: relative;
}
.biographie h2, .biographie h3, .contactView h2
{
    text-align: center;
}
.biographie div, .biographie>p
{
    display: flex;
    padding: 20px 40px;
}
.bioPicture
{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 50%; /* default value: image is centered*/
}
.biographie div p
{
    flex: 2;
}
.biographie p
{
    text-align: justify;
}
/*PAGE FOR REPORTED COMMENT*/
/*when 0 comment were reported*/
.badcommentview
{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    top: 100px;
    bottom: 20px;
}
.noComment
{
    text-align: center;
    font-size: 20px;
}
.deleteComment, .reportComment
{
    float: right;
    margin-right: 20px;
}
.deleteComment:hover i,.deleteComment:hover span, .reportComment:hover, .reportedComment
{
    color: rgb(220,20,40);
}

.alert{
    position: absolute;
    opacity: 0;
    border-radius: 20px;
    width: 90%;
    left: 5%;
    top: 15%;
    z-index: -10;
    text-align: center;
    animation-name: disparait;
    animation-duration: 3.5s;
}
.alertRed
{
    background-color: #f44336;
}
.alertGreen
{
    background-color: #aeea00;
}
.alert p{
    font-size: 20px;
}
@keyframes disparait {
    0%   {opacity : 1;
        z-index: 99;
    }
    65%  {opacity : 0.9;
        z-index: 99;}
    100% {opacity : 0;
        z-index: -1;
    }
}
@media all and (min-width: 1600px) {
    .articleBillet img
    {
        min-width: 400px;
        max-width: 400px;
    }
    .contactView
    {
        margin-top: 70px;
    }
    .gestionnaireArticle
    {
        left: 400px;
    }
}

@media all and (max-width: 1220px) {
    h1
    {
        font-size: 21px;
    }
    li
    {
    margin: 0 10px;
    font-size: 17px;
    }
    .articleBillet
    {
        height: 220px;
    }
    .articleBillet img
    {
        height: 220px;
        max-width: 270px;
        min-width: 270px;
    }
    .gestionnaireArticle
    {
        left: 270px;
    }
    .textArticle
    {
    display: none;    
    }
    .textArticle1220
    {
        display: block;
    }
    .textArticle p
    {
        margin-top: 0;
    }
}


@media all and (max-width: 1010px) {
    h1
    {
        font-size: 17px;
    }
    li
    {
    margin: 0 7px;
    font-size: 15px;
    }
    .articleBillet
    {
        height: 180px;
    }
    .articleBillet img
    {
        height: 180px;
        min-width: 200px;
        max-width: 200px;
    }
    .gestionnaireArticle
    {
        left: 200px;
    }
    .textArticle1220
    {
        display: none;
    }
    .textArticle1000
    {
        display: block;
    }
    .gestionnaireArticleInline a
    {
        font-size: 10px;
    }
        .insideSide
    {
        width: 90%;
    }
    .navDeux
    {
        background-color: red;
    }
}

@media all and (max-width: 870px) {
    h1
    {
        font-size: 15px;
    }
    li
    {
    margin: 0 5px;
    }
    .btnConnexion
    {
        margin: 0;
        margin-left: 5px;
        font-size: 13px; 
    }
    .textArticle870
    {
        display: block;
    }
    .contenuCorps{
        width: 86%;
        margin-left: 7%;
    }
    .biographie, .contactView   
    {
        margin: 10px 10px;
    }
    .bottomComm i>span, .titreComm span, .smallImgBio, .fa-cog span, aside, .textArticle1000
    {
        display: none;
    }
    .contenuOfArticle
    {
        padding : 10px 10px;
    }
    .contenuOfArticle img
    {
        padding: 0;
    }
}
@media all and (max-width: 780px) {
    .menuPrincipal
    {
        height: 84px;
        flex-direction: column-reverse;
        z-index: 42;
    }
    .principalNav
    {
        align-self: flex-start;
    }
    .menuIn
    {
        position: absolute;
        top: 84px;
    }
    .menuIn ul
    {
        justify-content: space-between;
        margin-right: 10px;
    }
    .fas
    {
        line-height: unset;
    }
    .insideSide
    {
        margin-top: 136px;
        width: 96%;
        margin-left: 2%;
    }
    .contenuCorps{
        margin-top: 97px;
        width: 96%;
        margin-left: 2%;
    }

    .btnConnexion
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        margin: 0;
    }
    .articleBillet img
    {
        height: 180px;
        min-width: 180px;
        max-width: 180px;
    }
    .gestionnaireArticle
    {
        left: 180px;
    }
    .contactForm>div
    {
        flex-direction: column;
        width: 85%;
    }
    .corpConnectPage form
    {
        width: 350px;
    }
    .personalInfo
    {
        margin-bottom: 0;
    }
    .textareaContainer{
        margin-top: 0;
        min-width: 150px;
    }

    .navDeux li
    {
        margin: 0 5px;
    }
    .newArticlebtn, .entete span, .BigBin, .dateInline
    {
        display: none;
    }
    .smallBin
    {
        display: inline-block;
    }
}
@media all and (max-width: 600px) {
    h1
    {
        display: none;
    }
    .smallScreenTitle
    {
        display: block;
    }
    .textArticle870
    {
        display: none;
    }
    .textArticle600
    {
        display: block;
        margin: 5px;
        padding: 3px 10px;
    }
    .formP
    {
        display: none;
    }
    .corpConnectPage form
    {
        width: 90%;
    }   
    .nouvelArticle a
    {
        font-size: 20px;
    }   
    #signaledCommSmallScreen
    {
        display: block;
    }
    #signaledComm
    {
        display: none;
    }
    .inlineView 
    {
        flex-direction: column;
    }
    .titreInlineView
    {
        flex: unset;
    }
    .changeThePicture
    {
        flex-direction: column;
    }
    .changeThePicture img
    {
        max-width: 100%;
    }
    .tinyFormButon, .corpConnectPage form>input

    {
        width: 90%;
    }
    .reportComment
    {
        font-size: 12px;
    }
    .homeGestionnaire
    {
        justify-content: space-between;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    .homeGestionnaire span
    {
        margin-left: 5px;
    }

}
@media all and (max-width: 450px) {
    .articleBillet{
        background-color: rgba(0,0,0,0);
    }
    .connectedBillet{
        background-color: white;
    }
    .enteteSommaire, .btnReadMore
    {
        background-color: whitesmoke;
    }
    .enteteSommaire
    {
        margin-top: 0;
        padding: 3px 10px;
    }
    .articleBillet img
    {
        display: none;
    }
    .textArticle600
    {
        background-color: rgba(255,255,255,0.8);
    }
    .backgroundArticle
    {
    display: block;
    position: absolute;
    background-color: rgb(200, 200,200);
    min-height: 100%;
    z-index: -10;
    }

    .backgroundArticle img
    {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    }
    .gestionnaireArticle
    {
        left: 0px;
    }

    .btnConnexion
    {
        width: 12px;
    }
    .nouvelArticle
    {
        height: 60px;
    }   
    .nouvelArticle a
    {
        font-size: 15px;
        line-height: 60px;
    }   

}
