body
{
    height: 100%;
    margin: 0 auto;
    background: url("images/alaska.jpg") #1e212a center no-repeat fixed;
}
*
{
    color: #333;
}
/*MENU PRINCIPAL*/
header
{
    align-items: center;
    width: 100%;
}

.test
{   
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 42px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 99;

}
header div>a
{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
}
.fa-user/*icone connexion*/
{
    margin-right: 10px;
    flex: 1;
}
h1
{
    font-size: 25px;
    flex: 5;
    text-align: center;
    margin : 0;
    line-height: 42px;
}
a
{
    text-decoration: none;
    color: #333;
}
nav
{
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul
{
    display: flex;
    justify-content: center;
}
li
{
    display: inline;
    margin: 0 20px;
    font-size: 20px;
}
.fas>span
{
    font-weight: normal;

}
/*BODY*/
.corps
{
    display: flex;
}
.contenuCorps{
    width: 70%;
    margin: 3.5%;
    margin-top: 55px;
    border-radius: 10px;
    background-color: rgba(187, 222, 250, 0.4);
    display: flex;
    flex-direction: column;
}
article
{
    display: flex;
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: center;
}
article img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}
article>div
{
    width: 100%;
}
article a 
{
    float: right;
    margin-right: 20px;
}

.commentaire {
    background-color: #f6f4e7;
    width: 90%;
    margin: auto;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.titreComm
{
    margin: 0;
    background-color: lightblue;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 25px;
    line-height: 25px;
}
strong
{
    margin-left: 15px;
    font-size: 20px;
}
/*titre article quand on est sur sa page*/
.entete
{
    display: flex;
    align-items: center;
    height: 38px;
    background-color: rgba(187, 222, 250, 1);
    padding-left: 20px;
}
.footer{
    background-color: lightblue;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 20px;
}

.textArticle
{
    margin: 10px 20px;
    text-align: justify;
}

.enteteSommaire
{
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

aside
{
    position: fixed;
    width: 20%;
    right: 20px;
    top: 55px;
    bottom: 20px;
    background-color: rgba(187, 222, 250, 0.8);
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}
.asideTitre
{
    text-align: center;
}
.asideDecoration
{
    width: 100%;
    border : 1px solid gray;
}
aside a
{
    line-height: 35px;
}
.asideHasard
{
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
/*PAGE CONNEXION*/
.corpConnectPage
{
    position: absolute;
    background-color: rgba(243, 156, 18, 0.9);
    border-radius: 10px;
    text-align: center;
    width: 34%;
    margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    margin-left: 18%;
}
.corpConnectPage input
{
    width: 90%;
    height: 37px;
    border-radius: 5px;
}
#checkbox
{
    width: auto;
    height: auto;
}
form
{
    margin-bottom: 30px;
}

/*PAGES QUAND CONNECTE*/
/*menu connection*/
.menuIn
{
    position: fixed;
    margin-top: 42px;
    width: 100%;
    height: 42px;
    z-index: 99;
}
.menuIn nav
{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
#deconecter
{
    font-size: 50px;
}
/*descend corps sinon superpose avec menus*/
.insideSide
{
    margin-top: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.insideSide article>div
{
    position: relative;
    height: 100%;
}
/* supression ou modification d'un article en dessous de lui meme*/
.gestionnaireArticle
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: lightblue;

}
.gestionnaireArticle nav
{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.gestionnaireArticle a
{
    float: none;
    line-height: 42px;
}
.enteteConnected
{
    margin-top: 10px;
}

/*GRAND BOUTON POUR CREER NOUVEAU BILLET*/
.nouvelArticle
{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nouvelArticle a
{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

.tinyForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tinyForm textarea
{
    width: 100%;
    height: 400px;
}
.tinyForm input
{
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
}
.tinyFormTitre{
    width: 80%;
    height: 50px;
    font-size: 30px;
    color: red;
}
.tinyFormButon{
    background-color: #26a69a;
    color: white;
    font-size: 20px;
    width: 30%;
}
.tinyFormImg{
    width: 80%;
    background-color: whitesmoke;
}

/*quand on modifie un article*/
.changeThePicture
{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
}

.changeThePicture img{
    margin: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.changeThePicture div{
    width: 100%;
}